<h1><i>New Game</i></h1>
<h2><i>Letters:</i></h2>
<br>
<div class=new>
  <ul>
    <% @letters.split("").each do |letter|%>
    <li><%= letter %></li>
    <% end %>
  </ul>
</div>
<br>
<br>
<form action="/score">
  <input type="text" name="attempt">
  <input type="hidden" name="letters" value="<%= @letters %>">
  <input type="hidden" name="start_time" value="<%= @start_time %>">
  <input type="submit" value="Submit">
</form>
